.about{
    border-radius: 4px;
    box-shadow: 0px 27px 77px 7px rgba(99, 0, 99, 0.22);
    padding: 250px;
    margin: auto;
    font-size: 23px;
    font-weight: 200;
    color: #444;
    margin: 10px;
}
.text{
    margin-bottom: 140px;
}
.signup{
    text-align: center;
    margin-bottom: 50px;
}
form {
    background-color: #8B75A0;
    color: white;
    padding: 30px;
    width: 50%;
    border-radius: 4px;
    margin: auto;
  }
  .contact {
    border-radius: 4px;
    box-shadow: 0px 27px 77px 7px rgba(99, 0, 99, 0.22);
    width: 100%;
    margin: auto;
    padding-bottom: 80px;
    padding: 30px;
  }
  
  input[type=text], select, textarea {
    display: flex;
    width: 90%;
    margin: auto;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 6px;
    margin-bottom: 16px;
  }
textarea {
  height: 200px;
}
  input[type=submit] {
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  input[type=submit]:hover {
    background-color: #45a049;
  }
  .btn{
    color: white;
    background-color: #444;
    padding: 10px;
    border-radius: 4px;
  }

 @media screen and (max-width: 800px) {
   .about {
     padding: 10px;
     padding-top: 30px;
     margin-top: 90px;
   }
   form {
    width: 75%;
   }
   .contact {
     padding: 0;
   }
    .text{
    padding: 15px;
    margin-bottom: 70px;
  }
   input[type=text], select, textarea {
     width: 90%;
     margin-bottom: 10px;
   }
 }