
.collection-item {
  	display: flex;
  	flex-direction: column;
  	justify-content: space-between;
  	height: 350px;
  	align-items: center;
  	position: relative;
  	margin: auto;
  	background-color: rgba(226, 226, 226, 0.74);

  .image {
    width: 100%;
    height: 95%;
    background-size: cover;
    background-position: center;
    margin-bottom: 5px;
    background-image: linear-gradient(#6fd985, #385b7ad0);
  }
  .collection-footer {
    width: 70%;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    .name {
      	width: 90%;
      	padding: 5px;
    	}
    .price {
     	width: 10%;
    	}
  	}
}
 @media screen and (max-width: 650px) {
   .collection-item {
      	width: 100%;
      	margin: 0px;
     	flex-direction: row;
   	}
}