front-end/src/pages/categories/*
front-end/src/pages/blog/*
front-end/src/pages/shop/*
front-end/src/assets/*
front-end/src/index.js/*
front-end/src/components/google-map/*
front-end/src/firebase/*
front-end/src/components/stripe-button/*
front-end/src/components/coderality-definition/*
front-end/src/assets/*
front-end/src.serviceWorker.js/*
front-end/src/redux/*
front-end/src/redux/shop/shop.data.js/*
front-end/logo.svg/*
front-end/.firebase/*
front-end/build*
front-end/yarn.lock*
front-end/node_modules*
server*
.env*
.vscode/*

