.cart-dropdown {
  	position: absolute;
  	width: 240px;
  	height: 340px;
  	display: flex;
  	flex-direction: column;
  	padding: 20px;
  	border-radius: 4px;
  	box-shadow: 3px 3px 18px -8px #8b8b8b;
  	background-color: white;
  	top: 90px;
  	right: 40px;
  	z-index: 5;
  	.empty {
    	font-size: 20px;
    	margin: auto;
  	}
  	.cart-items {
    	height: 240px;
    	display: flex;
    	flex-direction: column;
    	overflow: scroll;
  	}
  	button {
		margin-top: auto;
		box-shadow: 3px 3px 18px -8px #d8d8d8;
    	background-color: white;
  		color: #444;
  	}
}

@media screen and (max-width: 800px){
  	.cart-dropdown{
      	width: 250px;
  	}
}
