.icon{
    width: 27px !important;
    color:#2871A4;
    margin-left: 15px;
    margin-right: 15px;
}
// a{
//     text-decoration: none;
//     cursor: pointer;
//     color: #444;
// }
// .logo{
//     width: 30px;
//     margin-top: -10px;
//     margin-right: -70px;
//     padding-left: 20px;
// }
// .fab{
//     width: 100% !important;
//     height: 30px;
//     width: 30px;
//     color: #78d188;
// }
// @media screen and (max-width: 800px) {
//     .logo{
//         padding: 0px;
//         margin: auto    ;  
//     }
    
//   }