.code {
    background-color: #355c7d;
    color: #f8b195;
    padding: 20px;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 3px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
}
.about-wrapper{
    border-radius: 4px;
    background-color: none;
    padding: 30px;
    margin: auto;
    font-size: 23px;
    font-weight: 200;
    color: #444;
    margin: 10px;
}
.heading{
    padding: 20px;
    font-weight: 400;
}
.button-wrapper{
    width: 18%;
    float: right;
    margin-top: -50px;
    margin-right: 40px;
}
.blog-title{
    padding-bottom: 20px;
    font-weight: bold;
    font-size: 32px;
}
.blog-content{
    padding-left:200px;
    padding-right:200px;
    padding-top: 44px;
}
.image-container{
    height: 555px;
    width: 100%;
    margin: auto;
    background-image: url('../../assets/rn.png');
}
.image-container2{
    height: 555px;
    width: 100%;
    margin: auto;
    background-image: url('../../assets/food.png');
}
.image-container3{
    height: 555px;
    width: 100%;
    margin: auto;
    background-image: url('../../assets/supple.png');
}
.image-container4{
    height: 555px;
    width: 100%;
    margin: auto;
    background-image: url('../../assets/cloud-security.png');
}
.text-heading {
    padding: 30px;
    color: black;
    font-weight: 500;
}
.small-intro{
    font-style: italic;
    padding-bottom: 15px;
    font-weight: 300;
}
 @media screen and (max-width: 850px) {
    .content {
      margin: auto;
      width: 90%;
      margin-top: 10px;
  }
  .about-wrapper {
    padding: 10px;
    margin-top: 10px;
  }
  .blog-content{
    padding: 10px;
  }
    .buttons{
        flex-direction: row;
        flex-wrap: wrap;
  }
    .button-wrapper{
        width: auto;
        height: auto;
    }
 }