.shop-image{
	height: 800px;
	background-image: url('https://i.postimg.cc/VsBLX0th/Untitled-5.png');
	background-size: cover;
	width: 100%;
	margin-top: -399px;
}


@media screen and (max-width: 800px) {
    .shop-page{
      margin-left: 0px;
      margin-right: 0px;
    }
    .shop-image{
      width: 100%;
    }
 }