.cart-icon {
    width: 45px;
    height: 45px;
    color: #6FD985;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  
    .shopping-icon {
      	width: 30px;
      	height: 30px;
      	color: #333 !important;
    }
  
    .item-count {
      	position: absolute;
      	font-size: 10px;
      	font-weight: bold;
      	bottom: 12px;
      	color: #222;
    }
}
  