.sign-in-and-sign-up {
	width: 100%;
	display: flex;
}
.signin{
	justify-content: flex-start;
	top: 0;
	position: absolute;
	margin-top: 0px !important;
}

 @media screen and (max-width: 1050px) {
	.sign-in-and-sign-up {
		flex-direction: row;
		flex-wrap: wrap;
	}
 }
