.sign-in-page{
  width: 1050px;
  display: flex;
  justify-content: space-between;
  margin: 30px auto;
  background-color: white;
  padding: 40px;
  border-radius: 4px;
  box-shadow: 0px 27px 77px 7px rgba(99, 0, 99, 0.27);
}