.about-container{
		border-radius: 4px;
		background-color: none;
		margin: 0px;
		width: 100%;
		font-weight: 200;
		color: #333;
}
.intro-container{
	height: 1000px;
	background-image: url('https://i.postimg.cc/VsBLX0th/Untitled-5.png');
	background-size: cover;
	width: 100%;
	margin-top: -499px;
	margin-bottom: 70px;
}
.intro-container-2{
	height: 1000px;
	background-image: url('https://i.postimg.cc/sX7G7qwt/shop-page.png');
	background-size: cover;
	width: 100%;
	margin-top: -399px;
}

.img-wrapper{
	display: flex;
	flex-direction: column;
}
.title{
	font-size: 28px;
	letter-spacing: 1px;
	font-weight: 500;
	color: #2871a4;
	font-family: sans-serif;
	font-size: 27px;
	text-align: center;
	margin-bottom: 75px;
	margin-top: 100px;
}

.about-title{
	width: 50%;
	color: #222;
	margin: auto;
	padding-top: 30px;
}
.about-us{
	padding: 30px;
	font-size: 22px;
	width: 80%;
	margin: auto;
}
.about-text{
	width: 65%;
	padding: 30px;
	margin: auto;
	box-shadow: 3px 3px 18px -8px #8b8b8b;
	text-align: center;
	padding-bottom: 111px;
}

.signup {
	text-align: center;
	margin-bottom: 50px;
}
.form-wrapper{
	width: 70%;
	margin: auto;
	padding: 20px;
	box-shadow: 3px 3px 18px -8px #8b8b8b;
}
.form-title{
	text-align: center;
	border-bottom: 1px solid #555;
	width: 35%;
	color: #222;
	margin: auto;
	padding: 30px;
}
form {
	color: rgb(88, 88, 88);
	padding: 30px;
	width: 80%;
	margin-top: 500px;
	border-radius: 4px;
	margin: auto;
}
.form-label{
	margin-left: 70px;
	padding-bottom: 20px;
}
.map-wrapper{
	margin-top: 27px;
	height: 100vh;
	text-align: center;
}
.map{
	width: 50% !important;
}
.contact {
	border-radius: 4px;
	width: 100%;
	margin: auto;
	padding-bottom: 80px;
	padding: 30px;
}
input[type=text], select, textarea {
	display: flex;
	width: 90%;
	outline: none;
	margin: auto;
	padding: 12px;
	font-family: Arial, Helvetica, sans-serif;
	border: 1px solid #ccc;
	border-radius: 4px;
	margin-top: 6px;
	margin-bottom: 16px;
}
textarea {
	height: 200px;
	outline: none;
}
input[type=submit] {
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}
input[type=submit]:hover {
	background-color: #a4f2b4;
	outline: none;
}
.footer{
	width: 100%;

}
.btn{
	color: white;
	background-color: #444;
	padding: 10px;
	box-shadow: 3px 3px 18px -8px #8b8b8b;
	border-radius: 4px;
}
@media screen and (max-width: 800px) {
	.about { 
		margin: auto;
		padding: 10px;
		padding-top: 30px;
		margin-top: 90px;
	 
	 }
	 .map{
		 width: 95% !important; 
	 }
	.team-wrapper{
		flex-direction: column;
		margin: auto;
	 }
	 .about-us{
		margin-top: 30px !important;
		padding: 0px;
		width: 100%;
		margin: auto;
	}
	form {
		width: 75%;
	}
	.contact {
		padding: 0;
	}
	.text{
		padding: 15px;
		margin-bottom: 70px;
	}
	.about-text-wrapper{
		flex-direction: column;
		width: 100%;
	}
	 input[type=text], select, textarea {
		width: 90%;
		margin-bottom: 10px;
	}
 }
