.sign-up {
	display: flex;
	flex-direction: column;
	width: 100%;

form{
	width: 70%;
	color: white;
	background-color: #8E8E93;
	color: #333;
	box-shadow: 3px 3px 23px 7px #2870a469;
}

.title {
	margin: auto;
	text-align: center;
	padding: 20px;
	color: rgb(121, 121, 121);
	display: flex;
	}
}
@media screen and (max-width: 1050px) {
	.sign-up{
		margin-bottom: 30px;
		width: 80%;
		margin: auto;
	}
}
@media screen and (max-width: 550px) {
	.sign-up{
		margin-bottom: 30px;
		width: 100%;
		margin: auto;
	}
}