.sign-up {
  display: flex;
  flex-direction: column;
  width: 100%;

form{
  width: 70%;
  background-color: #8B75A0;
  color: white;
}

.title {
  margin: auto;
  text-align: center;
  padding: 20px;
  display: flex;
  }
}