.header {
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 88px;
  
    .logo-container {
      width: 477px;
      margin-top: -30px;

    }
    
.logo{
  width: 100%;
} 
    .options {
      width: 50%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
  
      .option {
        padding: 10px 15px;
      }
    }
  }


  @media screen and (max-width: 800px) {
      .header {
        height: 60px;
        padding: 10px;
        margin-bottom: 20px;
        font-size: 12px;
      }
      .logo-container{
        padding: 0px;
      }
      .option{
        width: 80%;
        display: flex;
      }
      .logo {
          width: 400px;
          padding: 0px; 
          display: none;
      }

  }