  
.menu-item {
    min-width: 30%;
    height: 240px;
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 7.5px 15px;
    overflow: hidden;
    

    &:hover {
      cursor: pointer;
      box-shadow: 0px 7px 37px 7px rgba(99, 0, 99, 0.27);
      transition: all 0.8s ease;
  
      & .background-image {
        transform: scale(1.1);
        transition: all 0.8s ease;
        transition: transform 6s cubic-bezier(0.25, 0.45, 0.45, 0.95);
        display: flex;
      }
  
      & .content {
        opacity: 0.9;
      }
    }
  
    &.large {
      height: 380px;
    }
  
    &:first-child {
      margin-right: 7.5px;
    }
  
    &:last-child {
      margin-left: 7.5px;
    }
  
    .background-image {
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: center;
      display: none;
      transition: all 0.8s ease;
    }
  
    .content {
      height: 190px;
      display: flex;
      flex-direction: column;
      align-items: left;
      opacity: 0.7;
      position: absolute;


      .title {
        font-weight: 200;
        font-size: 28px;
        color: #4a4a4a;
      }
  
      .subtitle {
        font-weight: lighter;
        font-size: 16px;
      }
    }
  }