.sign-in-and-sign-up {
	width: 80%;
	display: flex;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 300px;
	margin-top: 177px;
}
.signin{
	justify-content: flex-end;
	top: 0;
	position: absolute;
	margin-top: 0px !important;
}

form {
	color: rgb(88, 88, 88);
	padding: 30px;
	width: 80%;
	margin-top: 500px;
	border-radius: 4px;
	margin: auto;
}
.form-label{
	margin-left: 70px;
	padding-bottom: 20px;
}

 @media screen and (max-width: 1050px) {
	.sign-in-and-sign-up {
		flex-direction: row;
		flex-wrap: wrap;
	}
 }

