.sign-in-and-sign-up {
	width: 100%;
	display: flex;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 300px !important;
	margin-top: 177px;
}
.signin{
	justify-content: flex-end;
	top: 0;
	position: absolute;
	margin-top: 0px !important;
}

.sign-in-title {
	width: 100%;
	display: flex;
	color: #2871a4;
	text-align: center !important;
	margin: auto;
	font-size: 28px;
	justify-content: center;
	margin-bottom: 25px;
	@media screen and (max-width: 800px) {
		padding: 10px;
		margin-bottom: 30px;
		}
	}
form {
	color: rgb(88, 88, 88);
	padding: 30px;
	width: 80%;
	margin-top: 500px;
	border-radius: 4px;
	margin: auto;
	margin-bottom: 100px !important;
}
.form-label{
	margin-left: 70px;
	padding-bottom: 20px;
}

 @media screen and (max-width: 1050px) {
	.sign-in-and-sign-up {
		flex-direction: row;
		flex-wrap: wrap;
	}
 }

