.intro-message{
  font-size: 44px;
  position: absolute;
  margin-top: 111px;
}
.moving-text {
  text-align: center;
  font-size: 24px;
  width: 100%;
  text-align: center;
  font-weight: 200;
  margin-top: 45px;
  margin-bottom: 55px;
}
.moving-text-1 {
  text-align: center;
  font-size: 24px;
  width: 100%;
  text-align: center;
  font-weight: 200;
  margin-top: 45px;
  margin-bottom: 55px;
}
.coderality {
  padding-bottom: 50px;
 }
.logo{
  display: block;
  padding-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
 }
.photo-box {
  display: flex;
  flex-direction: row;
  width: 100%;
  border-radius: 4px;
  transition: all 0.8s ease;
  margin: auto;
  justify-content: center;
  margin-bottom: 88px;
 }
.photo-box1 {
  width: 44%;
  height: 600px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-right: 10px;
 }
.photo-box2 {
  width: 44%;
  height: 600px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-left: 10px;
 }
 .brain-optimization {
   width: 100%;
   border-radius: 4px;
   float: left;
 }

.damian{
  width: 100%;
  border-radius: 4px;
  float: right;
 }
.damian-wrapper {
  display: flex;
  flex-direction: column-reverse;
  align-content: flex-end;
}
.optimization-wrapper {
  display: flex;
}
 @media screen and (max-width: 800px) {
 .photo-box{
    flex-direction: column;
    margin-bottom: 40px;
 }
 .photo-box1{
   width: 100%;
   margin-bottom: 40px;
 }
 .photo-box2{
   width: 100%;
 }
 .code-intro{
   width: 333%;
 }
 .moving-text {
    position: absolute;
    margin-top: -333px;
    padding-bottom: 55px;
  }
  .intro-message{
    margin-top: 22px;
    margin-left: 22px;
    font-size: 33px;
  }
  .moving-text-1 {
    margin-top: -333px;
    padding-bottom: 55px;
    position: absolute;
    }
}
 
  
 