
.intro-message-mobile{
	display: none;
}
body {
	width: 100%;
	margin: 0px;
}
.code-intro{
	width: 100%;
	border-radius: 4px;
}
.footer{
	bottom: 0;
	margin-top: 0px !important ;
}
.intro-message-title{
	position: absolute;
	letter-spacing: 1px;
	font-weight: 500;
	float: left;
	width: 100%;
	padding: 50px;
	margin-left: 100px;
	color: #2871a4;
	font-family: sans-serif;
	font-size: 24px;
	-webkit-margin-before: 555px;
	-webkit-margin-after: -555px;
}

.intro-message-description{
	margin-top: 545px;
	position: absolute;
	width: 30%;
	color:#333;
	padding: 50px;
	margin-left: 100px;
	font-size: 18px;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
 .bg-photo{
	margin: auto;
	width: auto;
	justify-content: center;
}
 .photo-background {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin-top: -150px;
	border-radius: 4px;
	transition: all 0.8s ease;
	justify-content: center;
 }
 .photo-background2 {
	display: flex;
	flex-direction: row;
	width: 50%;
	margin-top: -10px;
	border-radius: 4px;
	transition: all 0.8s ease;
	float: right;
 }
 .photo-background3 {
	position: absolute;
	display: flex;
	flex-direction: row;
	width: 100%;
	margin-top: 0px;
	border-radius: 4px;
	transition: all 0.8s ease;
	justify-content: center;
 }
.photo-box {
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 90%;
	border-radius: 4px;
	transition: all 0.8s ease;
	justify-content: center;
	margin-bottom: 88px;
 }
 .small-text{
	 font-size: 12px;
	 margin: 10px;
 }

 .brain-optimization {
	 width: 100%;
	 float: left;
	 color: black;
 }
 .mobile-background {
	display: none;
 }

.optimization-wrapper {
	display: flex;
}

 @media screen and (max-width: 800px) {
	.intro-message-description{
		font-size: 20px;
		padding: 20px;
		padding-top: 50px;
		position: relative;
		width: 90% !important;
		margin: auto !important;
	}

	.coderality {
		width:	100%;
		margin: 0px !important;
	}

	.intro-message-title{
		justify-content: center;
		padding: 0px;
		right: 20;
		position: relative;
		margin-top: 0px;
		padding-bottom: 30px !important ;
		text-align: center;
		justify-content: center;
	}

	.photo-box{
		margin: auto;
		display: flex;
		justify-content: center;
	}

	.mobile-background {
		display: flex;
		margin-top: 277px;
		width: 100%;
		bottom: 0;
	}

	.photo-background2{
		display: none;
	}

	.photo-background{
		flex-direction: initial;
		width: auto;
		padding-top: 100px;
		margin: auto;
		text-align: center;
	}

	.intro-message{
		margin-top: 22px;
		margin-left: 22px;
		font-size: 33px;
	}

	.moving-text-1 {
		margin-top: -333px;
		padding-bottom: 55px;
		position: absolute;
	}
}

@media screen and (max-width: 1100px) {
	.photo-box {
		padding: 0px;
		margin: auto;
	 }
	 .intro-message-description{
		margin-left: -20px;
		margin-bottom: 30px;
		width: 40%;
	}
	.coderality{
		width:100%;
		margin: 0px !important;
	}
	.intro-message-title{
		margin-left: -20px;
	}
	.photo-background2{
		width: 64%
	}
}

 